* {
    margin-top: 5rem;
    padding: 0;
    box-sizing: border-box;
}

.a-container {
    width: 100vw;
        /* height: 101vh; */
        /* border: 1px solid black; */
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 5rem;
}

.main-a-container {
    /* border: 1px solid black; */
        width: 95vw;
        /* height: 270vh; */
        margin-top: 0rem;
        height: 100rem;
}

.img-head {
        width: 95%;
            /* border: 1px solid blue; */
            height: 100vh;
            display: flex;
            margin: 3px;
            align-items: center;
}

.a-img {
            width: 50%;
                overflow: hidden;
                position: relative;
                margin: 4px;
                height: 300px;
                margin-top: 100px;
}

.a-img-inner {
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

.a-head {
display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* border: 1px solid red; */
    flex-direction: column;
    width: 50%;
    height: auto;
    margin-top: 6rem;
    /* position: relative; */
}
@media (max-width:1142px) {
    .a-head {
        margin-top: 15rem;
    }
}
@media (max-width:1142px) {
    .a-head {
        margin-top: 25rem;
    }
}
@media (max-width:727px) {
    .a-head {
        margin-top: 35rem;
    }
}
@media (max-width:583px) {
    .a-head {
        margin-top: 47rem;
    }
}
@media (max-width:496px) {
    .a-head {
        margin-top: 60rem;
    }
}
@media (max-width:429px) {
    .a-head {
        margin-top: 75rem;
    }
}



.a-head-text {
    font-size: 70px;
}
@media (max-width:652px) {
    .a-head-text {
        font-size: 50px;
    }
}
@media (max-width:465px) {
    .a-head-text {
        font-size: 30px;
    }
}

.a-para {
    margin: 2px;
    padding-left: 10px;
    text-align: justify;
}