 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 Link{
    text-decoration: none;
 }

 body {
     width: 100%;
     height: 100%;
     
 }

 .parent-container {
     max-width: 100%;
     
     display: flex;
    
     justify-content: center;
     position: relative;
     flex-direction: column;
     z-index: 1;


 }

 .container {
     width: 70%;
     margin-top: 6rem;
     height: auto;
     background-color: white;
     border-radius: 6px;
     border: 1px solid white;
     display: flex;
     flex-direction: row;
    
     position: relative;

 }

 .img-container {
     width: 50%;
     
     height: 400px;
     display: flex;
     flex-direction: column;

     display: flex;
     justify-content: center;
     align-items: center;
     margin: 2px;
 }

 .img-inner-container {
     width: 80%;
     height: 80%;
     
     overflow: hidden;
     position: relative;
 }

 .img-class {
     object-fit: cover;
     object-position: center;
     position: absolute;
     height: 100%;
     width: 100%;
 }

 .login-container {
     /* border: 1px solid black; */

     width: 50%;
     height: 400px;
 }

 .login-email {
     margin-top: 70px;
 }

 .login-password {
     margin-top: 25px;
 }

 

 

 .login-button {
     
     margin-top: 30px;
 }

 .button-class {
     width: 130px;
     height: 40px;
     font-size: 25px;
 }

 .login-head {
     
     margin-top: 7rem;
 }

 .email-class {
     width: 76%;
    
     border: none;
   
     border-bottom: 1px solid rgb(65, 64, 64);
 }
 

 .password-class {
     width: 70%;
     border: none;
   
     border-bottom: 1px solid rgb(65, 64, 64);
 }

 .span1 {
     color: blue;
 }

 .span2 {
     color: red;
 }